<form (submit)="loginWithCard($event)">
    <div id="cardContainer">
        <label for="fileInput" class="folder">
            <div class="front-side">
                <div class="tip"></div>
                <div class="cover"></div>
            </div>
            <div class="back-side cover"></div>
        </label>
        <label for="fileInput" class="custom-file-upload">
            <input id="fileInput" type="file" accept=".jpg, .jpeg" (change)="onFileSelected($event)" #fileInput>
            Válaszd ki a UNIcard-od!
        </label>
    </div>
    <div id="btnsDiv">
        <app-button [isDisabled]="isLoginDisabled" [btnLabel]="'Bejelentkezés kártyával'"  type="submit" [size]="'big'"
            (click)="loginWithCard($event)" #loginBtn>
        </app-button>
        <app-button [btnLabel]="'Bejelentkezés adatokkal'" [size]="'big'" (click)="backToCredentialLogin()">
        </app-button>
        <app-button [btnLabel]="'Vissza a regisztrációhoz'" [size]="'big'" (click)="backToRegistration()">
        </app-button>
    </div>
</form>