.event-card {
    background-color: var(--dark2);
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 16px;
    margin-bottom: 16px;
    transition: transform 0.2s;
}

.event-card:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.event-header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 12px;
    color: var(--main);
}

.event-name {
    margin: 0;
    font-size: 18px;
    font-weight: 600;
}

.event-details {
    margin-bottom: 12px;
}

.event-date,
.event-location {
    color: var(--light2);
    font-size: 14px;
    margin-bottom: 8px;
}

.event-stats {
    display: flex;
    justify-content: space-between;
    margin-top: 12px;
    font-size: 13px;
    color: var(--light2);
}

.button-container{
    display: flex;
    justify-content: space-between;
}

.event-description {
    font-size: 14px;
    line-height: 1.5;
    color: var(--light1);
    margin-top: 12px;
    overflow: hidden;
}

i {
    margin-right: 5px;
}

span:hover {
    color: var(--main);
}

.inspectable {
    cursor: pointer;
}