<div id="monitorDiv">
    <div id="monitorScreenDiv">
        <h2><span class="auto-type"></span></h2>
        <p>Ne csak a Neptunt-t és a Krétát használd az egyetemen! Próbáld ki kis csapatunk által fejlesztett
            webapplikációt!<br>
            Kezdésnek regisztrálj az oldalra, de ha van fiókod jelentkezz be és irány az UNIverse-um!
        </p>
        <div id="registerLoginBtnDiv">
            <app-btn [btnId]="'registerLoginBtn'" [btnTitle]="'Regisztráció/Bejelentkezés'"></app-btn>
        </div>
    </div>
</div>