<header>
  <!-- Logo -->
  <a class="logoDiv" [routerLink]="['/']" (click)="onNavigate()">
    <div class="logo-container">
      <img src="/images/logo.png" alt="logo" class="logo">
    </div>
    <h2>NIverse</h2>
  </a>

  <!-- General nav links - desktop -->
  <nav class="desktop-nav">
    @for (item of navItems; track item.path) {
    <a [routerLink]="[item.path]" class="link link--elara" (click)="onNavigate()">
      <span>{{ item.label }}</span>
    </a>
    }

    <!-- Only display logout option if the user is logged in -->
    @if (hasToken$ | async) {
    <a href="#" class="link link--elara" (click)="logout()">
      <span>Kijelentkezés</span>
    </a>
    }
  </nav>

  <!-- Self-profile -->
  <a [routerLink]="['/main-site/you']" (click)="onNavigate()">
    <i class="fa-solid fa-user"></i>
  </a>

  <!-- Hamburger menu (phone resolution only) -->
  <button class="hamburger-btn" (click)="toggleMenu($event)">
    <i class="fa-solid" [class.fa-bars]="!isMenuOpen" [class.fa-xmark]="isMenuOpen"></i>
  </button>

  <!-- Phone resolution menu - reuses the same navItems array -->
  <div class="mobile-menu" [class.active]="isMenuOpen" [style.height]="(hasToken$ | async) ? '35vh' : '30vh'">
    <nav>
      @for (item of navItems; track item.path) {
      <a [routerLink]="[item.path]" class="link link--elara" (click)="onNavigate()">
        <span>{{ item.label }}</span>
      </a>
      }
      @if (hasToken$ | async) {
      <a href="#" class="link link--elara" (click)="logout()">
        <span>Kijelentkezés</span>
      </a>
      }
    </nav>
  </div>
</header>