:root {
  --header-height: 70px;
  --transition-speed: 0.3s;
}

header {
  background-color: var(--dark2);
  height: var(--header-height);
  padding: 0.6rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  position: fixed;
  z-index: 20;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  transition: transform var(--transition-speed) ease;
  }

.logoDiv{
  display: flex;
  text-decoration: none;
  color: var(--main);
  gap: 0;
}

.logoDiv h2{
  font-size: 45px;
  margin-top: -2px;
  margin-left: -5px;
}

header.header-hidden {
  transform: translateY(-100%);
}

.logo-container {
  width: 45px;
  height: 45px;
  background-color: var(--main);
  mask-image: url('../../../../../public/images/logo.png');
  mask-size: contain;
  mask-repeat: no-repeat;
  mask-position: center;
}

.logo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

nav {
  margin-left: -6%;
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

nav a {
  color: var(--light1);
  text-decoration: none;
}

.fa-user {
  color: var(--main);
  font-size: 25px;
  transition: transform 0.2s ease;
}

.fa-user:hover {
  transform: translateY(-2px);
}

.link {
  cursor: pointer;
  font-size: 18px;
  position: relative;
  white-space: nowrap;
}

.link::before,
.link::after {
  position: absolute;
  width: 100%;
  height: 1px;
  background: currentColor;
  top: 100%;
  left: 0;
  pointer-events: none;
  color: var(--main);
}

.link::before {
  content: '';
}

.link--elara {
  font-family: aktiv-grotesk-extended, sans-serif;
  font-size: 1rem;
}

.link--elara::before {
  transform-origin: 50% 100%;
  transition: clip-path 0.3s, transform 0.3s cubic-bezier(0.2, 1, 0.8, 1);
  clip-path: polygon(0% 0%, 0% 100%, 0 100%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%, 100% 100%, 100% 0%);
}

.link--elara:hover::before {
  transform: translate3d(0, 2px, 0) scale3d(1.08, 3, 1);
  clip-path: polygon(0% 0%, 0% 100%, 50% 100%, 50% 0, 50% 0, 50% 100%, 50% 100%, 0 100%, 100% 100%, 100% 0%);
}

.link--elara span {
  display: inline-block;
  transition: transform 0.3s cubic-bezier(0.2, 1, 0.8, 1);
}

.link--elara:hover span {
  transform: translate3d(0, -2px, 0);
}

.hamburger-btn {
  display: none;
  background: none;
  border: none;
  color: var(--main);
  font-size: 1.5rem;
  cursor: pointer;
  padding: 0.5rem;
}

.mobile-menu {
  display: none;
}

@media screen and (max-width: 468px) {
  header {
    padding: 0.5rem 1rem;
    z-index: 200;
    border-bottom: 2px solid var(--main);
  }

  .desktop-nav {
    display: none;
  }

  .hamburger-btn {
    display: block;
    z-index: 200;
  }

  .mobile-menu {
    display: block;
    position: fixed;
    top: 9.7%;
    right: -100%;
    width: 70%;
    border-bottom-left-radius: 12px;
    background-color: var(--dark2);
    padding: 1rem;
    transition: right 0.3s ease-in-out;
    z-index: 2;
    text-align: center;
  }

  .mobile-menu.active {
    right: 0;
  }

  .mobile-menu nav {
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    margin: 0 0 2rem 0;
  }

  .fa-user {
    margin-left: 7rem;
  }
}