.events-container {
    width: 100%;
    width: fit-content;
    margin: 0 auto;
    padding: 16px;
    display: flex;
    gap: 5em;
}

.events-section {
    margin-bottom: 32px;
}

.events-grid {
    display: grid;
    gap: 20px;
    margin-top: 16px;
}

.empty-list {
    padding: 16px;
    background-color: var(--dark2);
    border-radius: 4px;
    font-style: italic;
    color: var(--light1);
}

.loading-spinner {
    text-align: center;
    padding: 32px;
    font-size: 16px;
    color: var(--light2);
}

@media screen and (min-width: 481px) and (max-width: 1366px) {
       h2{
        font-size: 24px;
       }
}