div {
    text-align: center;
    width: 40vw;
    height: 70vh;
    overflow-y: auto;
    scroll-behavior: smooth;
    padding: 1rem;
}

div::-webkit-scrollbar {
    width: 8px;
}

div::-webkit-scrollbar-track {
    background: var(--dark2);
}

div::-webkit-scrollbar-thumb {
    background-color: var(--main);
    border-radius: 20px;
}