<div id="profile-page">
    @if(!profile){
    <div id="no-profile">
        Keress egy profilt a megjelenítéshez!
    </div>
    }

    @if(profile){
    <div id="profile-container">
        <div id="profile-card" #profileCard>
            <div id="profile-header">
                <img [src]="profile.usersData.profilePictureExtension === 'jpg' ? '/images/cat-pfp.jpg' : 'images/' + profile.usersData.userId + profile.usersData.profilePictureExtension"
                    [alt]="profile.usersData.name + '\'s profile picture'" id="profile-picture"
                    (click)="spinProfilePicture($event)">
                <h2>{{profile.usersData.name}}</h2>
                <div id="action-buttons">
                    <div (click)="startFollowing()" class="action-btn">
                        <i class="fa-solid" [ngClass]="isFriendAdded ? 'fa-user-check' : 'fa-user-plus'"></i>
                    </div>
                    <div (click)="saveProfile()" class="action-btn">
                        <i class="fa-solid" [ngClass]="isProfileSaved ? 'fa-check' : 'fa-camera'"></i>
                    </div>
                </div>
            </div>

            <div id="profile-info">
                <p><strong>Egyetem:</strong> {{profile.usersData.universityName}}</p>
                <p><strong>Kar:</strong> {{profile.faculty}}</p>
                <p><strong>Leírás:</strong> {{profile.description || 'Nincs megadott leírás'}}</p>

                <div id="profile-stats">
                    <span>{{ profile.usersData.followerCount }} Követő</span>
                    <span>|</span>
                    <span>{{ profile.usersData.followedCount }} Követés</span>
                </div>

                <p>{{ profile.contacts.length ? '' : 'Nincsenek elérhetőségek' }}</p>

                @if(profile.interests.length){
                <div id="interests">
                    <h3>Érdeklődési körök</h3>
                    <div class="tags">
                        @for(interest of profile.interests; track interest){
                        <span class="tag">{{interest}}</span>
                        }
                    </div>
                </div>
                } @else {
                <p>Nem adott meg érdeklődési kört</p>
                }

                @if(profile.roles.length){
                <div id="roles">
                    <h3>Szerepkörök</h3>
                    <div class="tags">
                        @for(role of profile.roles; track role){
                        <span class="tag">{{role}}</span>
                        }
                    </div>
                </div>
                } @else {
                <p>Jelenleg nincs szerepköre</p>
                }
            </div>
        </div>
    </div>
    }
</div>