<div class="profile-page">
    @if(!profile){
    <div class="no-profile">
        Keress egy profilt a megjelenítéshez!
    </div>
    }

    @if(profile){
    <div class="profile-container">
        <div class="profile-card">
            <div class="profile-header">
                <img [src]="profile.usersData.profilePictureExtension === 'jpg' ? '/images/default-pfp.jpg' : 'assets/profile-pictures/' + profile.usersData.userId + profile.usersData.profilePictureExtension"
                    [alt]="profile.usersData.name + '\'s profile picture'" class="profile-picture">
                <h2>{{profile.usersData.name}}</h2>

                <div (click)="addFriend()" class="add-friend">
                    <i class="fa-solid" [ngClass]="isFriendAdded ? 'fa-user-check' : 'fa-user-plus'"></i>
                </div>

                <div (click)="saveProfile()" class="save-profile">
                    <i class="fa-solid" [ngClass]="isProfileSaved ? 'fa-check' : 'fa-floppy-disk'"></i>
                </div>
            </div>

            <div class="profile-info">
                <p><strong>Egyetem:</strong> {{profile.usersData.universityName}}</p>
                <p><strong>Kar:</strong> {{profile.faculty}}</p>
                <p><strong>Leírás:</strong> {{profile.description || 'Nincs megadott leírás'}}</p>

                <div class="profile-stats">
                    <span>{{ profile.usersData.followerCount > 0 ? 'Követők: ' + profile.usersData.followerCount : 'Még
                        nincsenek követői' }}</span>
                    <span>|</span>
                    <span>{{ profile.usersData.followedCount > 0 ? 'Követések: ' + profile.usersData.followedCount :
                        'Még nem követ senkit' }}</span>
                </div>

                <p>{{ profile.contacts.length ? '' : 'Nincsenek elérhetőségek' }}</p>

                @if(profile.interests.length){
                <div class="interests">
                    <h3>Érdeklődési körök</h3>
                    <div class="tags">
                        @for(interest of profile.interests; track interest){
                        <span class="tag">{{interest}}</span>
                        }
                    </div>
                </div>
                } @else {
                <p>Nem adott meg érdeklődési kört</p>
                }

                @if(profile.roles.length){
                <div class="roles">
                    <h3>Szerepkörök</h3>
                    <div class="tags">
                        @for(role of profile.roles; track role){
                        <span class="tag">{{role}}</span>
                        }
                    </div>
                </div>
                } @else {
                <p>Jelenleg nincs szerepköre</p>
                }
            </div>
        </div>
    </div>
    }
</div>