main {
    display: flex;
    flex-direction: column;
    min-height: 0;
    width: 100%;
    padding-top: 3rem;
}

#mainContent {
    width: 100%;
    flex: 1;
    display: grid;
    color: var(--main);
    transition: all 0.3s;
    justify-items: center;
    align-items: center;
    padding-top: 2rem;
}

.cardDiv {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    margin: 2rem 0;
}

@media screen and (max-width: 480px) {
    main {
        gap: 1.5rem;
        flex-direction: column;
        padding-top: 3em;
        padding-left: 0.8em;
    }

    #mainContent {
        order: -1;
        min-height: 30vh;
        width: 95%;
        margin-top: 5%;
    }

    .cardDiv {
        gap: 1rem;
        width: 95%;
    }
}