<div class="modal-content active">
    <span class="closeIcon"><i class="fa-solid fa-times"></i></span>
    <div class="modal-body">
        <span class="icon"><i class="fa-solid fa-exclamation-triangle"></i></span>
        <div class="right-items">
            <p>Something went wrong. File was not uploaded</p>
        </div>
    </div>
</div>

<!-- Add class active to show the window -->
<!-- Add appear and disappear animation -->
<!-- Add line which will show the progress until the message disappears -->