<div id="unicardDiv">
    <div id="userDataDiv">
        <p>Email: <span>{{ userData.email }}</span></p>
        <p>Felhasználónév: <span>{{ userData.username }}</span></p>
        <p>Nem: <span>{{ userData.gender === '1' ? 'Férfi' : 'Nő' }}</span></p>
        <p>Születési Dátum: <span>{{ userData.birthDate }}</span></p>
        <p>Egyetem: <span>{{ userData.university }}</span></p>
        <p>Kar: <span>{{ userData.faculty }}</span></p>
        <hr>
        <h1>UNIcard</h1>
    </div>
    <app-button btnId="getUNIcardBtn" btnLabel="Kérem a kártyám!" (click)="saveUniCard()"></app-button>
</div>