body {
    background: url("../public/images/background.jpg") no-repeat center center / cover fixed;
    min-height: 100vh;
    width: 100%;
    padding: 0;
    overflow-x: hidden;
    position: relative;
    margin: 0;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: -1;
}

svg path {
    stroke: red;
    stroke-width: 10px;
    fill: none;
}

@media screen and (max-width: 480px) {
    body {
        background: rgba(0, 0, 0, 0.7);
    }

    body::before {
        display: none;
    }
}