<header>
  <div id="logo-section">
    <img src="images/logo.png" alt="UNI Logo" id="logo">
    <span id="brand-text">UNIverse</span>
  </div>
  <nav>
    <a href="#" class="link link--elara">
      <span>Profil</span>
    </a>
    <a href="#" class="link link--elara">
      <span>Csoportok</span>
    </a>
    <a href="#" class="link link--elara">
      <span>Események</span>
    </a>
    <a href="#" class="link link--elara">
      <span>Naptár</span>
    </a>
  </nav>
  <div id="search-section">
    <div id="searchIconDiv">
      <input type="search" id="search-bar" placeholder="Keresés...">
      <div id="search">
        <i class="fa-solid fa-search"></i>
      </div>
    </div>
    <i class="fa-solid fa-user"></i>
  </div>
</header>