<footer>
  <div id="footer-row-1">
    <img src="images/simpleLogo.png" alt="simpleLogo">
    <div id="contacts">
      <img src="images/youtube.png" alt="youtube">
      <img src="images/tiktok.png" alt="tiktok">
      <img src="images/instagram.png" alt="instagram">
      <img src="images/facebook.png" alt="Facebook">
    </div>
  </div>
  <hr>
  <div id="footer-row-2">
    <p>® 2024 UNIverse | Irány az UNIverse-um!</p>
    <p>Created by the team of <span>UNIverse</span></p>
  </div>
</footer>