.infoCard {
    width: 23em;
    height: 21em;
    padding: 1em;
    background-color: var(--main);
    color: var(--dark2);
    font-weight: bold;
    border-radius: 1em;
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1em;
}

.infoCard div:first-child {
    width: 5em;
    height: 5em;
    display: grid;
    place-items: center;
    justify-self: center;
    border-radius: 50%;
    background-color: var(--dark1);
}

.infoCard div:first-child img {
    width: 3em;
}

p {
    font-family: 'Nunito';
}

h3 {
    font-family: 'Proza Libre';
}