#search-section {
    display: flex;
    align-items: center;
    gap: 1rem;
}

#searchIconDiv {
    position: relative;
    display: flex;
    align-items: center;
    background-color: var(--main);
    border-radius: 25px;
    padding: 8px 16px;
}

#searchIconDiv i {
    color: var(--main);
}

#search {
    background-color: var(--dark2);
    border-radius: 50%;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

#search-bar {
    background: transparent;
    border: none;
    color: var(--dark2);
    outline: none;
    width: 180px;
    padding-left: 5%;
    padding-right: 5%;
}

#search-bar::placeholder {
    color: var(--dark2);
}

@media screen and (max-width: 468px) {
    #mobile-search-section {
        display: flex;
        justify-content: center;
    }

    .mobile-menu #searchIconDiv {
        width: 90%;
        margin: 0 auto;
    }

    .mobile-menu #search-bar {
        width: 80%;
    }

    /* Hide mobile search in header */
    #search-section {
        display: none;
    }

    .desktop-search {
        display: none;
    }
}