/* 
Colors:
-Main --> #FF5A1F
-Link --> #5D3FD3
-Dark1 --> #343434
-Dark2 --> #141414
-Light1 --> #FFF0EB
-Light2 --> ##FFD2C2
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

h1,
h3 {
    font-family: 'Proza Libre', sans-serif;
}

p {
    font-family: 'Nunito', sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    background-image: url("./assets/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: -1;
}

#container {
    display: grid;
}

#container main {
    height: 833px;
}

#container footer {
    display: grid;
    justify-content: center;
    color: #FFF0EB;
    gap: 20px;
    padding: 15px;
    height: 120px;
}

#container footer #footer-row-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
    width: 800px;
}

#container footer #footer-row-1 img:nth-child(1) {
    width: 150px;
    height: 40px;
}

#container footer #footer-row-1 #contacts {
    display: flex;
    gap: 30px;
}

#container footer #footer-row-1 #contacts img:first-child {
    width: 45px;
}

#container footer #footer-row-1 #contacts img {
    width: 30px;
    height: 30px;
}

#container footer hr {
    border-color: #FF5A1F;
    width: 800px;
    justify-self: center;
}

#container footer #footer-row-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
}

#container footer #footer-row-2 span {
    color: #FF5A1F;
}

#container main {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

#container main #monitorDiv h1 {
    font-size: 36px;
}

#container main #monitorDiv {
    width: 760px;
    height: 630px;
    background-image: url("./assets/screen.png");
    background-repeat: no-repeat;
    background-size: contain;
    text-align: center;
    padding: 60px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 60px;
}

#monitorScreenDiv {
    height: 330px;
    display: grid;
    color: #FF5A1F;
    z-index: 2;
    transition: all 0.3s;
    align-items: center;
    justify-items: center;
    gap: 50px;
}

.radio-input {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.radio-input * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.radio-input label {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 0px 20px;
    width: 220px;
    cursor: pointer;
    height: 50px;
    position: relative;
    color: #FF5A1F;
    transition: all 0.3s ease;
}

.radio-input label::before {
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 220px;
    height: 50px;
    z-index: -1;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    border-radius: 10px;
    border: 2px solid transparent;
    background-color: transparent;
}

.radio-input label:hover::before {
    border-color: #FF5A1F;
}

.radio-input .label:has(input:checked) {
    color: #141414;
}

.radio-input .label:has(input:checked)::before {
    background-color: #FF5A1F;
    border-color: #FF5A1F;
}

.radio-input .label input[type="radio"] {
    appearance: none;
    width: 17px;
    height: 17px;
    border: 2px solid #FF5A1F;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
    position: relative;
}

.radio-input .label input[type="radio"]:checked {
    background-color: #141414;
    border-color: #141414;
}

.radio-input .label input[type="radio"]::before {
    content: "";
    width: 8px;
    height: 8px;
    border-radius: 50%;
    transition: all 0.1s cubic-bezier(0.165, 0.84, 0.44, 1);
    background-color: #FF5A1F;
    transform: scale(0);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
}

.radio-input .label input[type="radio"]:checked::before {
    transform: translate(-50%, -50%) scale(1);
}

.dateInput {
    margin-left: auto;
    margin-right: auto;
    height: 50px;
    width: 300px;
    border-radius: 2.5em;
    border: none;
    background-color: transparent;
    border: 2px solid #FF5A1F;
    color: #FF5A1F;
    -webkit-filter: drop-shadow(1px 1px 10px #000);
    filter: drop-shadow(7px 7px 10px #00000059);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    outline: 2px solid rgba(0, 0, 0, 0);
    transition: outline-offset 0.5s ease, outline-color 0.5s ease,
        height 0.5s ease, width 0.5s ease, filter 0.5s ease;
    padding-left: 35px;
}

.dateInput:focus {
    transition: 0.3s;
    height: 40px;
    width: 250px;
    -webkit-filter: drop-shadow(1px 1px 10px #000);
    filter: drop-shadow(-7px 7px 10px #00000059);
    border-color: transparent;
    border-bottom-color: #FF5A1F;
    border-radius: 0px;
}

.dateInput::placeholder {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    letter-spacing: 1px;
    transform: translateX(-6px);
    transition: transform 0.5s ease;
}

.dateInput:focus::placeholder {
    transform: translateX(-85px);
    transition: 0.5s;
}


.dataHeading {
    position: fixed;
    top: 17%;
}

#container main #monitorDiv img {
    width: 95px;
    position: absolute;
    top: 58.5%;
}

#container main #monitorDiv p {
    font-size: 22px;
}

#container main #monitorDiv button {
    width: 275px;
    height: 60px;
    background-color: #FF5A1F;
    color: #141414;
    border-radius: 30px;
    font-weight: bold;
    font-size: 16px;
    font-family: 'Saira', sans-serif;
    border: none;
    transition: all 0.5s;
    position: relative;
    z-index: 1;
    cursor: pointer;
    overflow: hidden;
}

.input[type=email] {
    width: 360px;
    height: 20px;
    background-color: transparent;
    color: #FF5A1F;
    padding: .15rem .5rem;
    min-height: 40px;
    border-radius: 4px;
    outline: none;
    border: none;
    box-shadow: 0px 10px 20px -18px #FF5A1F;
    border-bottom: 3px solid #FF5A1F;
    transition: .10s ease;
}

.input[type=email]:hover {
    outline: 2px solid #FF5A1F;
    width: 400px;
}

.input[type=email]:focus {
    border-bottom: 3px solid #FF5A1F;
    border-radius: 5px 5px 2px 2px;
    transform: scale(1.1);
}

.center-con {
    position: relative;
    width: fit-content;
    height: fit-content;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.round {
    position: relative;
    border: 2px solid #FF5A1F;
    width: 40px;
    height: 40px;
    border-radius: 100%;
}

#cta {
    width: 100%;
    position: absolute;
}

#cta .arrow {
    left: 19%;
}

.arrow {
    position: absolute;
    width: 12px;
    height: 12px;
    top: 12px;
}

.segunda {
    margin-left: 12px;
}

.next {
    background-color: #FF5A1F;
    clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
}

@keyframes bounceAlpha {
    0% {
        opacity: 1;
        transform: translateX(0px) scale(1);
    }

    25% {
        opacity: 0;
        transform: translateX(10px) scale(0.9);
    }

    26% {
        opacity: 0;
        transform: translateX(-10px) scale(0.9);
    }

    55% {
        opacity: 1;
        transform: translateX(0px) scale(1);
    }
}

.bounceAlpha {
    animation-name: bounceAlpha;
    animation-duration: 1.4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.arrow.primera.bounceAlpha {
    animation-name: bounceAlpha;
    animation-duration: 1.4s;
    animation-delay: 0.2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.round:hover .arrow {
    animation-name: bounceAlpha;
    animation-duration: 1.4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.round:hover .arrow.primera {
    animation-name: bounceAlpha;
    animation-duration: 1.4s;
    animation-delay: 0.2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

#container main #monitorDiv button:hover {
    transform: scale(1.05);
}

#container main #monitorDiv button::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg,
            transparent,
            rgba(255, 255, 255, 0.4),
            transparent);
    transition: none;
    z-index: -1;
}

.screenAnimDiv {
    background-color: red;
}

#container main #monitorDiv button:hover::before {
    left: 100%;
    transition: all 1s linear;
    animation: lightspeed 1s infinite linear;
}

@keyframes lightspeed {
    0% {
        left: -100%;
    }

    100% {
        left: 100%;
    }
}

@keyframes slideInRight {
    0% {
        transform: translateX(200%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideInLeft {
    0% {
        transform: translateX(-200%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

#registerLoginBtnDiv {
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.infoCard {
    width: 350px;
    height: 320px;
    background-color: #FF5A1F;
    color: #141414;
    border-radius: 24px;
    padding: 30px;
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
}

#container main .cardDiv {
    display: grid;
    gap: 60px;
}

#container main .infoCard div:nth-child(1) {
    width: 77px;
    height: 77px;
    display: grid;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #343434;
    justify-self: center;
}

#container main .infoCard div:nth-child(1) img {
    width: 45px;
    height: 45px;
}