.profile-card {
    border: 1px solid var(--main);
    border-radius: 8px;
    padding: 12px;
    cursor: pointer;
    transition: all 0.2s ease;
    background-color: var(--dark1);
    width: 12em;
    height: 10em;
    color: var(--light1);
    display: grid;
    place-items: center;
}

.profile-card:hover {
    transform: translateY(-2px);
    background-color: var(--main);
    border-color: var(--dark2);
}

.profile-picture {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

@media (max-width: 468px) {
    .profile-card {
        width: 100%;
        max-width: 200px;
        margin: 0 auto;
    }

    .profile-card h4,
    .profile-card p {
        max-width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        text-align: center;
    }
}