footer {
    display: grid;
    justify-content: center;
    color: var(--light1);
    padding: 2em;
    height: 7em;
}

#footer-row-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    width: 100%;
}

#footer-row-1 img:first-child {
    width: 9em;
    height: 2.5em;
}

#footer-row-1 #contacts {
    display: flex;
    gap: 2em;
}

#footer-row-1 #contacts img:first-child {
    width: 2.7em;
}

#footer-row-1 #contacts img {
    width: 1.8em;
    height: 1.8em;
}

footer hr {
    border-color: var(--main);
    width: 40em;
    opacity: 1;
}

#footer-row-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
}

#footer-row-2 span {
    color: var(--main);
}