#animationDiv {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 20;
    opacity: 0;
    visibility: hidden;
    transition: opacity 1s ease-in-out, visibility 1s ease-in-out;
}

#animationDiv.active-animation {
    opacity: 1;
    visibility: visible;
}

#animationDiv div {
    width: 45%;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}